<section>
    <div class="container-fluide">
        <div class="row no-gutters">
            <div class="col-6">
                <div class="todo">
                    <header class="todo-header">
                        <h1 class="header__heading">Items</h1>
                        <input class="header__input" placeholder="Type name here..." autofocus ng-model="vm.todoText"><!--
                        --><button class="header__btn" ng-click="vm.addTodo()">Add new</button>
                    </header>
                    <section class="todo-list" ng-if="vm.todos.length > 0">
                        <ul class="list">
                            <li class="list__item"
                                ng-repeat="todo in vm.todos track by $index"
                                ng-class="{selected: todo.title === vm.selectedTodo}"
                                ng-click="vm.onSelect($index, todo.title)">
                                <a class="list__link" href="todo/{{$index}}">
                                    <label class="list__label">{{todo.title}}</label><!--
                                    --><label class="list__count">{{( vm.comments | filter: { title: todo.title } ).length }}</label>
                                </a>
                                <button class="list__btn" ng-click="vm.removeTodo($index, todo.title)">Delete</button>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
