@import "vars"
@import "fonts"
@import "libs"

::placeholder
  color: $text
  opacity: 1
  font-weight: 200
  font-size: 0.75em
  text-transform: none

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

.text-scale
	-moz-transform: scale(1, 0.9)
	-webkit-transform: scale(1, 0.9)
	-ms-transform: scale(1, 0.9)

.header
	background: #3b1b67 fixed top center
	min-height: 100vh

.underline
	width: 100%
	height: 1px
	background: linear-gradient(to right, #3b1b67 0%, $accent 10%, $accent 90%, #3b1b67 100%)

.header__menu_fixed
	position: fixed
	width: 100%
	z-index: 1000
	background-color: $bg-dark

.header__menu_static
	padding-top: 73px

.logo
  margin-bottom: -6px

ul, li
	display: block
	padding: 0
	margin: 0

.menu
	margin-top: 22px

.menu__item
	margin: 0 24px

.menu__link
	color: $text
	font-size: 1.125em
	font-weight: 400
	-moz-transform: scale(1, 0.9)
	-webkit-transform: scale(1, 0.9)
	-ms-transform: scale(1, 0.9)

.menu__link
	display: block
	height: 32px

.menu__link
	&:hover, &:focus, &:active
		text-decoration: none
		color: $text
		text-shadow: 0 0 1em $accent
		cursor: pointer
		.box
			background: linear-gradient(to right, #3b1b67 0%, $accent 50%, #3b1b67 100%)

.mPS2id-highlight-first
	text-decoration: none
	color: $text
	text-shadow: 0 0 1em $accent
	cursor: pointer
	.box
		background: linear-gradient(to right, #3b1b67 0%, $accent 50%, #3b1b67 100%)

.box
	width: 100%
	height: 1px

.icons
	margin-top: 23px

.header__heading
	font-size: 3em
	font-weight: 600
	margin: 0
	line-height: 68px
	-moz-transform: scale(1, 0.9)
	-webkit-transform: scale(1, 0.9)
	-ms-transform: scale(1, 0.9)

.heading
	padding-left: 30px
	max-width: 410px
	margin-top: 95px
	background: linear-gradient(to right, #3b4287 0%, #3b1b67 100%)

.header__heading_bg-right
	margin: 0 0 0 22px
	padding-left: 10px

.header__heading_bg-left
	max-width: 410px
	background: linear-gradient(to left, #3b4287 0%, #3b1b67 100%)

.header__paragraph
	text-align: center
	font-weight: 300
	font-size: 1em
	padding: 0 20px 5px
	line-height: 18px
	margin: 0
	-moz-transform: scale(1, 0.9)
	-webkit-transform: scale(1, 0.9)
	-ms-transform: scale(1, 0.9)

.header__heading_h2
	font-weight: 600
	color: $accent
	font-size: 1.875em
	line-height: 68px
	text-transform: uppercase
	margin: 0

.header__timer
	height: 150px

.timer__item
	padding-top: 40px
	position: relative

.timer__item:first-child
	padding-right: 50px

.timer__clock
	font-weight: 600
	font-size: 4.5em
	color: $accent
	text-shadow: 0 0 50px $accent
	line-height: 45px

.timer__span
	font-weight: 300
	font-size: 1em
	color: $text
	display: block
	text-transform: uppercase

.timer__semicolon
	font-size: 90px
	line-height: 24px

.header__btn
	display: block
	margin: 0 auto
	width: 240px
	height: 40px
	text-transform: uppercase
	color: $text
	font-weight: 600
	font-size: 1.625em
	background: linear-gradient(to right, #3b1b67 0%, $accent 50%, #3b1b67 100%)
	border: none
	border-top: solid $accent 1px
	border-bottom: solid $accent 1px
	position: relative

.header__btn
	&:after, &:before
		content: ''
		position: absolute
		top: 0
		left: 0
		bottom: 0
		right: 0

.header__btn:after
	border-top: solid #3b1b67 1px
	border-bottom: solid #3b1b67 1px

.header__btn:before
	border-top: solid $accent 2px
	border-bottom: solid $accent 2px

.header__img
	margin-top: 50px

.header__scroll
	background-color: #3b2387
	width: 100%
	height: 27px

.header__link
	margin-left: 60px

.header__link
	&:active, &:hover, &:focus
		.button__gradient
			display: block

.button__gradient
	display: none

//Scroll Down
.header__scroll
	position: relative
	bottom: 0

.scroll-down__span
	bottom: 10px
	position: absolute
	left: 50%
	width: 20px
	height: 20px
	margin-left: -12px
	border-left: 1px solid #fff
	border-bottom: 1px solid #fff
	-webkit-transform: rotate(-45deg)
	transform: rotate(-45deg)
	box-sizing: border-box

/////////////////////////
Partnered
//////////////////////////

.partnered
	background-color: #392898
	height: 200px

.partnered__bg-right
	margin: 80px 0 0 50px
	max-width: 200px
	background: linear-gradient(to right, #285fb3 0%, #392898 100%)

.partnered__bg-left
	margin-left: 50px
	max-width: 200px
	background: linear-gradient(to left, #285fb3 0%, #392898 100%)

.partnered__heading_h2
	font-weight: 600
	font-size: 1.875em
	line-height: 25px
	margin: 0
	padding-left: 15px

.partnered__heading_h3
	padding-left: 15px
	line-height: 20px
	font-size: 1.125em
	font-weight: 400

.partners
	height: 200px

.partners__link
	display: block
	opacity: .65

.partners__item
	padding: 0 25px

//////////////////////////////
Token Sale
//////////////////////////////

.token-sale
	background-color: #3b1b67
	padding: 35px 0 65px

.token-sale__heading_h1
  font-weight: 700
  text-transform: uppercase
  font-size: 1.875em
  margin: 0
  line-height: 40px

.token-sale__paragraph
	margin: 0 auto
	font-weight: 200
	font-size: 1em
	line-height: 20px
	padding: 5px 0 0
	width: 35%

.heading-underline
	width: 100%
	max-width: 240px
	margin: 0 auto
	height: 1px
	background: linear-gradient(to right, #3b1b67 0%, $accent 20%, $accent 80%, #3b1b67 100%)

.stats
	width: 700px
	height: 355px
	background-color: #392898
	border-radius: 175px
	margin: 60px 0 0 75px

.stats__heading_h2
	font-size: 2.25em
	text-transform: uppercase
	font-weight: 600
	width: 7%
	margin: 0 auto
	text-align: center
	line-height: 40px
	padding-top: 25px

.stats__heading_img
	transform: translateX(-70%)
	position: absolute
	right: 50%

.stats__list-left
	padding: 20px 0 0 25px
	max-width: 265px

.stats__item
	max-width: 235px

.stats__heading_h6
	font-size: 1.063em
	margin: 0
	line-height: 26px

.stats__list-bottom
	padding: 30px 0 0 25px

.stats__item-bottom
	padding-top: 30px

.stats__img
	height: 100%
	width: 20px

.stats__paragraph
	font-size: 1.063em
	font-weight: 200
	line-height: 20px
	margin: 0
	color: #e4e4e4

.stats__paragraph-bottom
	font-size: 0.938em

.stats__line
	width: 1px
	height: 130px
	background-color: #7d73b6
	position: absolute
	right: 20px
	top: 20px

.stats__list_mod
	margin: 20px 0 0 -30px
	max-width: 290px

.token-sale__circle
	height: 395px
	width: 100%
	max-width: 395px
	background-color: #3b1b67
	border-radius: 50%
	border-radius: 50%
	position: absolute
	top: 39px
	right: 85px

.token-sale__contribution
	height: 355px
	width: 100%
	max-width: 355px
	background-color: #3b1b67
	border-radius: 50%
	position: absolute
	top: 60px
	right: 105px
	box-shadow: 0 0 50px rgba(57,40,152,0.8)

.token-sale__contribution
	padding-top: 35px

.contribution__list
	padding-top: 15px

.contribution__item
	width: 190px
	margin: -5px auto 0

.contribution__heading_h4
	font-size: 1.5em
	font-weight: 600
	margin: 0
	text-align: center
	line-height: 25px

.contribution__heading_h2
	font-size: 2.25em
	font-weight: 600
	margin: 0
	line-height: 40px
	text-align: center

.contribution__paragraph
	font-size: 1.5em
	font-weight: 300
	line-height: 25px
	margin: 0
	padding-left: 5px

.contribution__img
	max-height: 34px

/////////////////////////
Blockchain
//////////////////////////

.blockchain
	background-color: #392898
	padding: 10px 0 20px

.blockchain__heading
	position: relative
	margin-top: 80px

.blockchain__heading_h3
	text-transform: uppercase
	font-size: 1.875em
	font-weight: 600
	line-height: 35px

.blockchain__img
	padding-top: 15px

.blockchain__heading_img-right
	position: absolute
	top: 32px

.blockchain__heading_img-left
	position: absolute
	top: 66px

.blockchain__paragraph
	font-size: 1.25em
	font-weight: 200
	line-height: 22px
	max-width: 370px

.blockchain__btn
	width: 180px
	height: 45px
	text-transform: uppercase
	color: $text
	background-color: transparent
	border: 2px double $accent
	border-radius: 5px
	cursor: pointer
	margin-bottom: 10px
	font-weight: 600
	font-size: 1.25em

.blockchain__btn
	&:hover, &:focus, &:active
		box-shadow: 0 0 10px rgba(54,186,222,0.8)
		text-shadow: 0 0 20px $accent

///////////////////////////////
Timeline
///////////////////////////////

.timeline
  background-color: #3b1b67
  height: 300px
  padding: 20px 0 75px

.timeline__underline
  width: 100%
  max-width: 250px

.timeline__list
	width: 100%

.timeline__timeline:before
	content: '\f104'
	font-family: FontAwesome
	position: absolute
	font-size: 2.5em
	line-height: 25px
	color: $accent
	left: 0
	top: 43px

.timeline__timeline:after
	content: '\f105'
	font-family: FontAwesome
	position: absolute
	font-size: 2.5em
	line-height: 25px
	color: $accent
	right: 0
	top: 43px

.timeline__item
  width: 100%
  max-width: 210px
  text-align: center
  z-index: 2
  padding-right: 8px

.timeline__item:after
  content: ''
  display: block
  margin: -138px auto 15px
  width: 20px
  height: 20px
  border: 2px solid #392898
  border-radius: 50%
  background-color: transparent

.timeline__item:before
  content: ''
  display: block
  margin: 50px auto 15px
  width: 14px
  height: 14px
  border-radius: 50%
  background-color: #00dff1

.timeline__list:after
  content: ''
  position: absolute
  width: 90%
  max-width: 840px
  height: 5px
  background: linear-gradient(to right, #3b1b67 0%, #392898 10%, #392898 90%, #3b1b67 100%)
  top: 54px

.timeline__heading_h5
  font-size: 1.125em
  font-weight: 400
  margin: 0
  line-height: 20px
  padding-bottom:  10px

.timeline__paragraph
  font-weight: 200
  font-size: 0.875em
  line-height: 20px

///////////////////////////////
Team
///////////////////////////////

.team
  background-color: #392898
  padding: 15px 0 50px

.team__heading_h2
  font-weight: 700
  text-transform: uppercase
  margin: 0
  line-height: 28px

.team__underline
	max-width: 120px
	background: linear-gradient(to right, $bg-light 0%, $accent 20%, $accent 80%, $bg-light 100%)

.team__form
  text-align: center
  padding: 25px 0 35px

.team__input
  border: solid 2px #3b1b67 !important
  background-color: transparent

//////// Custom radio button start///////////
.team__label
  display: block
  position: relative
  padding: 0 15px 0 20px
  font-weight: 300
  font-size: 0.875em
  user-select: none

.team__input
  position: absolute
  opacity: 0

.team__checkmark
  position: absolute
  top: 3px
  left: 0
  height: 16px
  width: 16px
  background-color: transparent
  border: 2px solid #3b1b67
  border-radius: 50%

.team__checkmark
  &:hover, &:active, &:focus
      background: radial-gradient(circle, #5463b5, #8ad7ef)

.team__label input:checked ~ .team__checkmark
  background: radial-gradient(circle, #5463b5, #8ad7ef)

.team__checkmark:after
  content: ""
  position: absolute
  display: none

.team__label input:checked ~ .team__checkmark:after
  display: block
//////// Custom radio button end///////////

.team__item
  background-color: #3b1b67
  border-radius: 5px
  max-width: 170px
  height: 270px
  margin-right: 20px

.team__img
  border: none

.team__heading_h5
  text-transform: uppercase
  font-weight: 700
  padding: 5px 0 15px 10px
  margin: 0

.team__paragraph
  padding: 0 0 15px 10px
  font-weight: 200
  font-size: 0.625em
  margin: 0

.team__list-icon
  margin-top: -10px
  padding-left: 6px

//////////////////////////////
//Customer
/////////////////////////////

.customer
  height: 150px
  background-color: $bg-dark
  padding: 15px 0 35px

.customer__underline

.customer__form
  padding-top: 20px

.customer__input
  width: 100%
  max-width: 380px
  margin: 0
  padding: 0 15px
  color: $text
  text-transform: capitalize

.customer__btn
  margin: 0
  padding: 0

//////////////////////////////
//Footer
/////////////////////////////

.footer
  height: 80px
  background-color: $bg-light
  position: relative

.footer__svg
  padding-top: 7px

.footer__svg
  &:hover, &:focus, &:active
    .footer__svg-hover
      display: block

.footer__svg-hover
  display: none
  position: absolute
  top: 20px
  left: -10px

.footer__heading_h6
  font-weight: 200
  font-size: 0.875em
  padding-top: 33px

.footer__link
  color: $text
  text-align: center

.footer__link
  &:hover, &:focus, &:active
    text-decoration: none
    color: $text

.footer__paragraph
  font-size: 0.875em
  font-weight: 200
  text-decoration: underline
  margin: 30px 0 0

/////Button to top start/////
.top
	position: fixed
	bottom: -130px
	right: 20px
	width: 40px
	height: 40px
	line-height: 40px
	background-color: #ffffff
	color: #fff
	border-radius: 50%
	cursor: pointer
	text-align: center
	z-index: 5
	//+mt(.5s)

.top__fa
	top: -2px
	font-size: 14px
	color: #000
	position: relative
	display: inline-block

.top
	&:hover, &:focus, &:active
		background-color: $darken

.top__active
	bottom: 20px
/////Button to top end/////

@import "media" // Always at the end
