body {
  background-color: #F9F9F9;
}

.dairy-app {
  background-color: #2B2F3E;
  padding: 25px 0 0 25px;
  min-height: 700px;
  height: 100%;
}

.dairy__heading_h2 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 2.25em;
}

.dairy__heading_h4 {
  color: #808080;
}